// var css
:root {
  // fonts
  // DrukCyr
  --font-bold: 'Druk Cyr Bold';
  --font-boldItalic: 'Druk Cyr BoldItalic';
  --font-heavy: 'Druk Cyr Heavy';
  --font-heavyItalic: 'Druk Cyr HeavyItalic';
  --font-medium: 'Druk Cyr Medium';
  --font-mediumItalic: 'Druk Cyr MediumItalic';
  --font-super: 'Druk Cyr Super';
  --font-superItalic: 'Druk Cyr SuperItalic';

  // Raleway
  --font-raleway-thin: 'Raleway-Thin';
  --font-raleway-thinItalic: 'Raleway-ThinItalic';
  --font-raleway-black: 'Raleway-Black';
  --font-raleway-blackItalic: 'Raleway-BlackItalic';
  --font-raleway-bold: 'Raleway-Bold';
  --font-raleway-boldItalic: 'Raleway-BoldItalic';
  --font-raleway-extraBold: 'Raleway-ExtraBold';
  --font-raleway-extraBoldItalic: 'Raleway-ExtraBoldItalic';
  --font-raleway-extraLight: 'Raleway-ExtraLight';
  --font-raleway-extraLightItalic: 'Raleway-ExtraLightItalic';
  --font-raleway-italic: 'Raleway-Italic';
  --font-raleway-light: 'Raleway-Light';
  --font-raleway-lightItalic: 'Raleway-LightItalic';
  --font-raleway-medium: 'Raleway-Medium';
  --font-raleway-mediumItalic: 'Raleway-MediumItalic';
  --font-raleway-regular: 'Raleway-Regular';
  --font-raleway-semiBold: 'Raleway-SemiBold';
  --font-raleway-semiBoldItalic: 'Raleway-SemiBoldItalic';


  // colors
  --white: #fff;
  --black: #000;
  --green: #52D789;
  --green-hover: #1CF877;
  --pink: #DF3984;
  --pink-hover: #FF5EA6;
  --gray-light: #E9E9E9;
  --gray: #999999;
  --dark-gray: #555555;

  --border-color: #32373D;
}
